<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form" fxLayout="column">

  <mat-toolbar style="margin-bottom: 5px;">New Partner Request</mat-toolbar>

  <div [formGroup]="expensesFG" fxLayout="column">

    <mat-form-field class="form-element">
      <input matInput placeholder="Claimant Name"  formControlName="ClaimantName" type="text">
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="Department Code" formControlName="DepartmentCode" type="text">
    </mat-form-field>

    <div [formGroup]="expenseItemFG" fxLayout="column">

      <div fxLayout="row" fxLayoutGap="5px">
        <mat-form-field fxFlex class="form-element">
          <input matInput placeholder="Description"  formControlName="Description" type="text">
        </mat-form-field>

        <mat-form-field fxFlex class="form-element">
          <input matInput [matDatepicker]="picker" placeholder="Date Of Expense" formControlName="DateOfExpense">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>Receipt Available</mat-label>
          <mat-select formControlName="ReceiptAvailable">
            <mat-option value="Yes">Yes</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex class="form-element">
          <input matInput placeholder="Amount" formControlName="Amount" type="number">
        </mat-form-field>
      </div>
    </div>

  </div>

  <div class="form-element">
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
  </div>

</form>
