<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form" fxLayout="column">

          <mat-toolbar style="margin-bottom: 5px;">Case Details</mat-toolbar>

          <mat-form-field class="form-element">
            <input matInput placeholder="Request Description"  formControlName="RequestDescription_v1">
          </mat-form-field>

          <mat-form-field class="form-element">
            <input matInput placeholder="Partner Reference"  formControlName="PartnerReference_v1">
          </mat-form-field>

          <mat-form-field class="form-element">
            <input matInput placeholder="Request Type"  formControlName="RequestType_v1">
          </mat-form-field>

          <div [formGroup]="caseMetricsFG" fxLayout="column">

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">

              <mat-form-field fxFlex>
                <input matInput placeholder="Priority"  formControlName="Priority_v1">
              </mat-form-field>

              <mat-form-field fxFlex>
                <input matInput class="form-element" placeholder="Due Date" formControlName="DueDate_v1">
        </mat-form-field>

      </div>

      <mat-form-field fxFlex>
        <input matInput class="form-element" placeholder="Request Owner" formControlName="Owner_v1">
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-form-field fxFlex>
          <input matInput class="form-element" placeholder="Request Owner Email" formControlName="RequestOwnerEmail_v1" type="email">
        </mat-form-field>

        <mat-form-field fxFlex>
          <input matInput class="form-element" placeholder="Request Owner SMS" formControlName="RequestOwnerSMS_v1" type="text">
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput class="form-element" placeholder="Partner Contact Email" formControlName="PartnerContactEmail_v1" type="email">
      </mat-form-field>
    </div>

</form>
