<mat-toolbar *ngIf="!ref || !data">Test Form App</mat-toolbar>
<div *ngIf="appReady" style="margin: 20px">

  <div *ngIf="submittedData">
    <mat-label>Submitted Data:</mat-label>
    <pre>{{submittedData | json}}</pre>
    <hr>
  </div>
  <div *ngIf="!data || !ref" fxLayout="column">


      <mat-form-field>

        <mat-label>Form Ref</mat-label>
        <mat-select [(value)]="ref">
          <mat-option *ngFor="let formRef of formRegistry" [value]="formRef.id">
            {{formRef.id}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Form Input Data (JSON)" [(ngModel)]="dataJSON"></textarea>
      </mat-form-field>

      <button *ngIf="submittedData" mat-button (click)="handleReuseData()">Use submitted data</button>
      <button mat-button (click)="handleShowForm()">Show form</button>
  </div>

  <div *ngIf="ref && data">
    <app-form-viewer form-app="''" [formRef]="ref" [data]="data" (formSubmitted)="handleSubmit($event)"></app-form-viewer>
  </div>
</div>
